# PayPal Credentials (https://developer.paypal.com/dashboard/applications)
# Sandbox ucun: sandbox client id/secret istifade edin
# Production ucun: live client id/secret istifade edin
PAYPAL_CLIENT_ID=your_paypal_client_id_here
PAYPAL_CLIENT_SECRET=your_paypal_client_secret_here

# "sandbox" ve ya "live"
PAYPAL_MODE=sandbox

# Server
PORT=3000
